env/
BuyTheSet/__pycache__/
BuyTheSet/BuyTheSet/__pycache__/
BuyTheSet/cart/__pycache__/
BuyTheSet/cart/migrations/
BuyTheSet/payments/__pycache__/
BuyTheSet/payments/migrations/
BuyTheSet/store/__pycache__/
BuyTheSet/store/migrations/
BuyTheSet/dashboard/__pycache__/
BuyTheSet/dashboard/migrations/
BuyTheSet/store/templatetags/__pycache__/
BuyTheSet/db.sqlite3
BuyTheSet/media/uploads/products/
BuyTheSet/db.sqlite3
BuyTheSet/api/__pycache__/
BuyTheSet/api/migrations/
BuyTheSet/admin_panel/migrations/
BuyTheSet/admin_panel/__pycache__/
BuyTheSet/admin_panel/products_consumer/__pycache__/
BuyTheSet/services/__pycache__/
