<div id="settings-modal-header" class="modal-header row d-none">
    <div class="col-2 text-start">
        <button type="button" class="btn back-btn" id="chat-settings-back-btn">
            <i class="bi bi-chevron-bar-left"></i>
        </button>
    </div>
    <div class="col-8 text-center">
        <h5 class="modal-title text-white">Settings</h5>
    </div>
    <div class="col-2 text-end">
        <!-- Add a button when you think of one -->
    </div>
</div>
<div id="settings-modal-body" class="modal-body d-none">
    <div class="form-group">
        <input type="text" id="api-key" class="form-control" placeholder="Enter API Key..." value="{{api_key}}">
    </div>
    <!-- Add more input fields as needed -->
</div>
<div id="settings-modal-footer" class="modal-footer d-none">
    <!-- Add more items as needed -->
</div> 